# Built files
*.apk
*.bundle
*.aar
*.ap_
*.aab
*.so
*.dex
*.o
*.dll
*.a
*.lib
output-metadata.json

# Gradle files
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/

# Local configuration file
local.properties

# Logs
*.log

# Android Studio files
.idea/
*.iml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
.navigation/
.cache/

# Keystore files
*.jks
*.keystore

# Firebase
google-services.json

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Other
*.DS_Store
*.swp
.vs/
.vsc/

# Android Profiling
*.hprof

app/release

# Rust-specific ignores
/plugins/RustToast_plugin/target/
/plugins/RustToast_plugin/Cargo.lock